APP_NAME=JobsityBot
APP_ENV=local
APP_KEY=base64:odrpnCHzSM1o8J0R0cI/+3iEJN/CtSLFwSForoJtuLg=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jobsity_bot
DB_USERNAME=root
DB_PASSWORD=